<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Persons </title>
</head>
<body>


<h1>Список пользователей</h1>
<a href="/person/register"> Добавить пользователя </a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
    </tr>

    <tr th:each="person : ${persons}">
        <td th:text="${person.getId()}"> </td>
        <td th:text="${person.getName()}"> </td>
        <td th:text="${person.getAge()}"> </td>
    </tr>

</table>


</body>
</html>