<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Person</title>
</head>
<body>

<h2>Редактирование пользователя<br>По Логин и Пароль<hr></h2>

<form th:action="@{/person/edit/password-login}" th:object="${dto}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Логин:</label>
    <input type="text" th:field="*{nickName}" />
    <br>

    <label>Пароль:</label>
    <input type="text" th:field="*{password}" />
    <br>

    <button type="submit">Обновить</button>

</form>

</body>
</html>